  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
      <div class="mb-3 font-bold text-3xl">
          <span class="text-900">One Insurance System, </span>
          <span class="text-blue-600">Many Solutions</span>
      </div>
      <div class="text-700 mb-6">Welcome to the <a href="https://www.w3if.org">Web3 InsurTech Foundation</a> demonstration portal. <br/>The blockchain presents many exciting many
         possibilities to democratize insurance.  This portal is a conversation starter; a showcase for new ideas and
         technologies. If you have feedback or would
        like to contribute, please reach out to us at <a href='mailto:contact@w3if.org'>contact&#64;w3if.org</a></div>
      <div class="grid">
          <div class="col-12 md:col-4 mb-4 px-5">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
              <div class="text-900 text-xl mb-3 font-medium">Built for Customers</div>
              <span class="text-700 line-height-3">A simplified new approach to insurance, funded by, governed by, and executed by us all.</span>
          </div>
          <div class="col-12 md:col-4 mb-4 px-5">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-lock text-4xl text-blue-500"></i>
              </span>
              <div class="text-900 text-xl mb-3 font-medium">End-to-End Encryption</div>
              <span class="text-700 line-height-3">Leveraging the latest blockchain technologies with the highest levels of security for data protection.</span>
          </div>
          <div class="col-12 md:col-4 mb-4 px-5">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-check-circle text-4xl text-blue-500"></i>
              </span>
              <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
              <span class="text-700 line-height-3">The open system design allows custom integrators to deliver optimal customer experiences.</span>
          </div>
          <div class="col-12 md:col-4 mb-4 px-5">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-globe text-4xl text-blue-500"></i>
              </span>
              <div class="text-900 text-xl mb-3 font-medium">Fast & Global Support</div>
              <span class="text-700 line-height-3">Built for the whole world, we are standardizing models for global prosperity.</span>
          </div>
          <div class="col-12 md:col-4 mb-4 px-5">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-github text-4xl text-blue-500"></i>
              </span>
              <div class="text-900 text-xl mb-3 font-medium">Open Source</div>
              <span class="text-700 line-height-3">Founded on the principle that insurnace belongs to us all, the W3IF actively drives the common knowledge. </span>
          </div>
          <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-shield text-4xl text-blue-500"></i>
              </span>
              <div class="text-900 text-xl mb-3 font-medium">Universal Trust</div>
              <span class="text-700 line-height-3">Cryptographic encryption sits are the core of all transactions, making them public and anonymous.</span>
          </div>
      </div>
  </div>

  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY W3IF</div>
        <div class="text-900 font-bold text-5xl mb-3">Get Started</div>
        <div class="text-700 text-2xl mb-5">Explore the portal, view sample policies, walk a customer journey to sign up for a new policy for file a claim.  All powered by the blockchain</div>
        <button pButton pRipple class="w-full my-3 px-3" label="LOGIN" [routerLink]="['/home']"></button>
        <button pButton label="Review your Policies" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" routerLink="/coverage/policies"></button>
    </div>
  </div>
