<div class="grid p-fluid">
  <div class="col-12 lg:col-6">
      <div class="card">
          <h5>Monthly Token Valuation ($000s)</h5>
          <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
      </div>

      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full">Risk Pool Allocations</h5>
          <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
      </div>

      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full">Return By Sector</h5>
          <p-chart type="polarArea" [data]="polarData" [options]="polarOptions"></p-chart>
      </div>
  </div>
  <div class="col-12 lg:col-6">
      <div class="card">
          <h5>Monthly Returns</h5>
          <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
      </div>

      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full">Income By Risk Pool</h5>
          <p-chart type="doughnut" [data]="pieData" [options]="pieOptions"></p-chart>
      </div>

      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full">Income By Category</h5>
          <p-chart type="radar" [data]="radarData" [options]="radarOptions"></p-chart>
      </div>
  </div>
</div>
